# Alumno

*Sustituid esta frase por vuestros nombres y apellidos.*

# Ejercicios de Pandas

Antes de empezar, importemos los módulos que vamos a utilizar.

In [ ]:
import numpy as np
import pandas as pd

## Series

### Asigna el nombre "alfabeto" a la siguiente serie e imprímela.

Pista: [pandas.Series.name](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.name.html)

In [ ]:
s = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
s.head()

In [ ]:
# Solución
s.name= "alfabeto"
print(s)

### Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.

Pista: [pandas.Dataframe.all()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.all.html)

In [ ]:
s1 = pd.Series(np.random.randint(1, 10, size=10))
s2 = s1 + 1

In [ ]:
# Solución
(s2>s1).all()

### Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera es menor o igual que el correspondiente de la segunda.

Pista: [pandas.Dataframe.any()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.any.html)

In [ ]:
s1 = pd.Series(np.random.randint(1, 10, size=10))
s2 = pd.Series(np.random.randint(1, 10, size=10))

In [ ]:
# Solución
lt = s1<s2
pd.DataFrame.any(lt)

### Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por una lista.

In [ ]:
serie = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
posicion = [0, 4, 8, 14, 20]

In [ ]:
# Solución
serie[posicion]

### Construye una serie que sea el resultado de concatenar a una serie dada los elementos de otra.

Muestra el resultado de concatenar `s1` y `s2`, y responde a estas preguntas: ¿Qué ha sucedido con el índice? ¿Cuál es el tipo de datos de la serie resultante? ¿Qué sucede si indexamos la serie con el índice `0`?

Pista: [pandas.concat](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.concat.html)

In [ ]:
s1 = pd.Series(range(5))
s2 = pd.Series([0.2, 0.3, 0.4])

In [ ]:
# Solución y respuestas a las preguntas
print(s1)

print(s2)

s3 = pd.concat([s1, s2])

#Los indices se han mantenido como en las series originales, y el tipo de datos es el más general, en este caso float64
s3[0]
#Al indexar con el 0 se recuperan todos los valores con índice 0

### Ordena una serie, primero por el valor del índice y después por el valor de la serie, e imprímelas.

Pistas: [pandas.Series.sort_index()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_index.html) y [pandas.Series.sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html)

In [ ]:
serie = pd.Series({3: 1, 5: 0, 1: 4})
print(serie)

In [ ]:
# Solución
indice = pd.Series.sort_index(serie)
valores = pd.Series.sort_values(serie)
print(serie)
print(indice)
print(valores)

### Calcula la media del error cuadrático entre dos series.

Nota: La fórmula del error cuadrático entre $x$ e $y$ es $(x - y)^2$.

In [ ]:
np.random.seed(0)
x = pd.Series(range(10))
y = pd.Series(range(10)) + np.random.random(10)
print(x)
print(y)

In [ ]:
# Solución
error = (x-y)**2
error

### Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo `datetime` llamada `fechasdt`. 

Pista: [pandas.to_datetime()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.to_datetime.html)

In [ ]:
fechas = pd.Series(['01 Jan 2010T00:00:01',
                    '02-02-2011',
                    '20120303',
                    '2013/04/04',
                    '2014-05-05',
                    '2015-06-06T12:20'])
fechas

In [ ]:
# Solución
fechasdt = pd.to_datetime(fechas)
fechasdt

### Crea tres series a partir de la serie `fechasdt` anterior llamadas `days`, `months` y `years`, donde cada una contenga el día, el mes y el año de cada fecha, respectivamente.

Pista: Una serie del tipo `datetime` tiene un atributo `.dt` con métodos para acceder al día, mes y año, por ejemplo, [pandas.Series.dt.day()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.dt.day.html).

In [ ]:
# Solución
days = fechasdt.dt.day
months = fechasdt.dt.month
years = fechasdt.dt.year
print(days)
print(months)
print(years)

### Crea una serie con valores aleatorios enteros entre 1 y 10, pero cuyo índice tenga 12 objetos del tipo `datetime` con el primer día de cada mes del año 2024

El índice deben empezar por el **01-01-2024** y terminar en el **01-12-20243**.

Pistas: [numpy.random.randint](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html()) y [pandas.date_range()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.date_range.html)

In [ ]:
# Solución
serie = pd.Series(np.random.randint(0,10,12), index=[pd.date_range('01-01-2024', periods=12, freq='MS')])
serie

## DataFrames

### Dadas las siguientes series que representan frutas, precio y peso comprado de cada una de ellas, construye un `Dataframe` y obtén tanto el precio medio como el peso medio de cada tipo de fruta.

Pista: [pandas.Series.groupby()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.groupby.html)

In [ ]:
np.random.seed(0)
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
precios = pd.Series(np.random.sample(10) * 3)
pesos = pd.Series(np.random.randint(1, 5, 10))

print(frutas.tolist())
print(precios.tolist())
print(pesos.tolist())

In [ ]:
# Solución
dataframe = pd.DataFrame()
dataframe['precio medio'] = precios.groupby(frutas).mean()
dataframe['peso medio'] = pesos.groupby(frutas).mean()
dataframe

In [ ]:
# Solución
dataframe1 = pd.DataFrame({'frutas': frutas, 'precios': precios.groupby(frutas).mean(), 'pesos': pesos.groupby(frutas).mean()})
dataframe1

### Crea un `DataFrame` a partir del archivo `planets.csv` seleccionando solamente las columnas `method`,  `year` y `distance`, y calcula el número elementos que tiene.

Pista: [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
# Solución
planetas = pd.read_csv('data/planets.csv', usecols = ['method', 'year','distance'])
planetas

### Calcula cuantos planetas se han descubierto usando cada método de detección a partir del *dataset* de planetas anterior.

In [ ]:
# Solución
planetas['method'].value_counts()

### Determina en qué año se descubrieron más planetas a partir del *dataset* de planetas anterior.

In [ ]:
# Solución
planetas['year'].value_counts().max()

### Create un `DataFrame` a partir del *dataset* de coches [Cars93_miss.csv](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv), y encuentra el fabricante, modelo, tipo y precio del coche más caro (solamente deben devolverse esas columnas).

En primer lugar, crea el dataset a partir de la URL anterior:

In [ ]:
# Solución
coches = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=['Manufacturer','Model','Type','Max.Price'])
coches

Luego, muestra el precio del coche más caro, para lo cual puedes usar [pandas.DataFrame.max()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.max.html):

In [ ]:
# Solución
coches['Max.Price'].max()

A continuación, genera una serie de valores booleanos con el resultado de la comparación con dicho precio:

In [ ]:
# Solución
comparacion = coches['Max.Price']>=coches['Max.Price'].max()
comparacion

A partir de la expresión anterior, obtén la fila del dataframe que cumple la condición de precio máximo con [pandas.DataFrame.loc()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.loc.html):

In [ ]:
# Solución
coches.loc[comparacion]

Por último, selecciona únicamente las columnas del dataframe indicadas (fabricante, modelo, tipo, precio):

In [ ]:
# Solución
coches2 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=['Manufacturer','Model','Type','Price'])
coches2.loc[comparacion]

### Calcula una nueva columna `Norm.price` en el *dataset* de coches anterior con el precio normalizado con respecto a su valor máximo y mínimo ().

Nota: Esta normalización se realiza con la siguiente operación: $(precio - precioMinimo)/(precioMaximo - precioMinimo)$

In [ ]:
# Solución
coches = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=['Min.Price','Price','Max.Price'])

coches['Norm.price'] = (coches['Price']-coches['Min.Price'])/(coches['Max.Price']-coches['Min.Price'])
coches

### Encuentra los tres vehículos con mayor precio (`Price`), ignorando los que no tengan precio asignado (NaN), en el *dataset* de coches anterior.

Pista: Averigua para qué sirve el parámetro `subset` de [pandas.DataFrame.dropna()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.dropna.html).

In [ ]:
# Solución
coches2.dropna().nlargest(3,'Price')

### Crea un `DataFrame` a partir del archivo `california_cities.csv` y muestra la población total de la ciudad con más habitantes (se deben mostrar las columnas `city` y `population_total`).

In [ ]:
# Solución
ciudades = pd.read_csv('data/california_cities.csv',usecols=['city','population_total'])
ciudades.nlargest(1,'population_total')

### Determina cuál es la población de la ciudad más septentional de California a partir del *dataset* de ciudades anterior (se deben mostrar las columnas `city`, `latd` y `population_total`).

In [ ]:
# Solución
ciudades2 =pd.read_csv('data/california_cities.csv',usecols=['city','latd','population_total'])
ciudades2.nlargest(1,'latd')
ciudades2['latd'].idxmax()

### Calcula la densidad de población de la ciudad de California que se encuentra a mayor altitud a partir del *dataset* de ciudades anterior (se deben mostrar las columnas `city`, `elevation_m` y `area_total_km2`, así cómo la densidad de población total en habitantes por kilómetro cuadrado)

In [ ]:
# Solución
ciudades3 = pd.read_csv('data/california_cities.csv',usecols=['city','elevation_m','area_total_km2'])
ciudades2.loc[ciudades2['latd'].idxmax()]['population_total']/ciudades3.loc[ciudades2['latd'].idxmax()]['area_total_km2']